<nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-center" !-->
  <div class="container">
    <a class="navbar-brand" href="#" style="color: red;font-weight: bolder;"><h1 style="font-size: 100%;position: absolute;margin-top: 4%;margin-left: -5%;">COMPLAINT SITE</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> 
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto ">
        <a  style="color:rgb(2,37,238);margin-top: 3%;margin-left: -50%;position: absolute;font-weight: bold;font-size: 120%;" class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        <a  style="color:rgb(2, 37, 238);margin-top: 3%;margin-left: -38%;position: absolute;font-weight: bold;font-size: 120%;" class="nav-link" href="{% url 'complaint' %}">Complaint form</a>
        <a  style="color:rgb(2, 37, 238);margin-top: 3%;margin-left: -5%;position: absolute;font-weight: bold;font-size: 120%;" class="nav-link" href="{% url 'check' %}">Admin</a>
        <a  style="color:rgb(2, 37, 238);margin-top: 3%;margin-left: -18%;position: absolute;font-weight: bold;font-size: 120%;" class="nav-link" href="{% url 'status' %}">Status</a>
        <style>
          /* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 768px) {
    .container {
      width: 90%;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .container {
      width: 90%;
    }
  }
  
  /* Example Usage */
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  /* Other styles go here */
  
        </style>
            
               </div>
    </div>
  </div>
</nav>